<section ng-controller="noticiasController">

	  <md-card ng-repeat="card in cards">

	    <md-card-content ng-click="description.show(card)" 
			ng-class="{forbidden:card.foto=='no'}"	
	    >

	      <center ng-hide="card.foto=='no'">
	      	<div class="card-image">	 		
	    		<img src="{{card.foto}}"style="width:100%;" />
	      	</div>
	      </center>

	      <br>
	      <div style="width:100%;">	      		
		      <div style="float:left">
		        {{card.texto}}
		      </div>
		      <div style="float:right">
			      <md-button class="md-raised" 
			       ng-class="{'md-warn': card.tipo_alerta=='SOS'}"
			        ng-hide="card.foto=='no'"
			       >{{card.tipo_alerta}}
			   	  </md-button>
		      </div>
	      </div>
	      <br>
	      <b>Reportero: {{card.reportero}}</b>
	    </md-card-content>    
	  </md-card>

</section>