<section ng-controller="noticiasController">

	  <md-card ng-repeat="card in cards"

	  >

	    <md-card-content ng-click="description.show(card)" 
			ng-class="{forbidden:card[8]=='no'}"	    	
	    >

	      <center ng-hide="card[8]=='no'" 

	      >
	      	<div class="card-image" > 	 		
	    		<img src="http://files.spondylus.gamaleon.com/{{card[0]}}.jpg"style="width:100%;" />
	      	</div>
	      </center>

	      <br>
	      <div style="width:100%;">	      		
		      <div style="float:left">
		        {{card[5]}}
		      </div>
		      <div style="float:right">
			      <md-button class="md-raised" 
			       ng-class="{'md-warn': card[4]=='SOS'}"
			        ng-hide="card[8]=='no'"
			       >{{card[4]}}
			   	  </md-button>
		      </div>
	      </div>
	      <br>
	      <b>Reportero: {{card[3]}}</b>
	    </md-card-content>    
	  </md-card>

</section>