<section ng-controller="reporteController" class="reporte">
  <!-- Nombre del reportero -->
	<md-input-container md-no-float class="whole">
              <input required name="nombre" ng-model="reportaje.reportero"placeholder="Nombre" class="whole">
    </md-input-container>
  <!-- Descripción del reporte-->
	<md-input-container md-no-float class="whole">
              <input required name="nombre" ng-model="reportaje.texto"placeholder="Descripción de la noticia" class="whole">
  </md-input-container>

    <center>
    <div layout="row" layout-align="space-between center">

      <!--Tipos de alerta-->  
      <md-select ng-model="reportaje.tipo_alerta" placeholder="Tipos de Alerta" class="whole" aria-label="tipAlerta">
                <md-option ng-repeat="alerta in tiposAlerta" value="{{alerta}}" >{{alerta}}</md-option>
      </md-select>
      <!-- Departamentos -->
      <md-select ng-model="reportaje.departamento" placeholder="Departamento" class="whole" aria-label="dep">
                <md-option ng-repeat="depa in departamentos" value="{{depa}}" >{{depa}}</md-option>
      </md-select>

    </div>


    <md-button  ng-dissabled="true" class="md-secundary ">
         Seleccionar imagen
    </md-button>

    <br>
    <md-button ng-click="reportar.enviar();"  class="md-primary">
         Enviar reporte
    </md-button>

    </center>
</section>