<md-dialog aria-label="layout" ng-controller="descriptionController">

      <!--Parte superior o header-->
      <md-toolbar>
        <!--header del formulario-->
        <div class="md-toolbar-tools">
            <div>{{ card[5] }}</div>
        </div>

      </md-toolbar>

      <!--Contenido-->    
            
          <md-dialog-content style="overflow-x:hidden" layout="row" 
          layout-alignment="center center">

          <center>
              <video src="" controls id="video" style="width:90%">
              </video>            
          </center>


          </md-dialog-content>


          
      <div class="md-actions" layout="row">
          <span flex></span>
        <!--Botón OK-->
        <md-button ng-click="hide();" class="md-primary">
         OK
        </md-button>
      </div>


</md-dialog>